<div class="beneficios-wrapper">
  <h1 class="titulo">Beneficios en eficiencia de frío/calor</h1>

  <!-- SECCIONES DE BENEFICIOS -->
  <div class="secciones-grid">
    <div class="seccion" *ngFor="let item of beneficios">
      <img [src]="item.imagen" alt="{{ item.titulo }}">
      <div class="contenido">
        <span class="categoria">Beneficio</span>
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descripcion }}</p>
      </div>
    </div>
  </div>

  <div class="separador"></div>
  <h1 class="titulo1">Garantías que respaldan tu tranquilidad</h1>

  <!-- SECCIONES DE GARANTÍAS -->
  <div class="secciones-grid">
    <div class="seccion" *ngFor="let item of garantias">
      <img [src]="item.imagen" alt="{{ item.titulo }}">
      <div class="contenido">
        <span class="categoria garantia">Garantía</span>
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descripcion }}</p>
      </div>
    </div>
  </div>
    <h1 class="titulo2">Solicita tu estudio personalizado y descubre soluciones confiables</h1>

</div>
