.login-form {
  max-width: 500px;
  margin: 110px auto;
  background-color: #1e1e1e;
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(132, 24, 170, 0.3);
  color: white;
  font-family: 'Arial', sans-serif;
}

.titulo-login {
  text-align: center;
  font-size: 62px;
  margin-bottom: 30px;
  color: #a141cf;
}

.campo {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.campo label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #ddd;
}

.campo input {
  padding: 12px;
  font-size: 16px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 10px;
  color: white;
  outline: none;
  transition: border-color 0.3s;
}

.campo input:focus {
  border-color: #a141cf;
}

.btn-login {
  width: 100%;
  padding: 14px;
  background-color: #a141cf;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #8915be;
}
